<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WCHEN.DEV</title>
    <meta name="description" content="William Chen's Site">
    <link rel="stylesheet" href="/static/about.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>WCHEN.DEV</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/projects">My Projects</a>
        </nav>
    </header>

    <main style="margin-top: 2em;">
        <p>
            Hi, I'm William Chen. I am a 13 year old who enjoys making mechanical hardware projects, taking things apart, and inevitably breaking them.<br>
            I also have 154,972 minutes on Spotify for 2025, am fairly good at ceiling darts, and very messy.
        </p>
        <section>
            <h2>Hobbies</h2>
            <p style="margin-left: 1em;">
                1. touching grass <br>
                2. breaking stuff <br>
                3. making stuff <br>
                4. hurting myself <br>
                5. travel photography <br>
                6. 3d printing. aka constantly fixing my ender 3 pro <br>
                7. modifying things <br>
                8. doing linux things <br>
                9. spending money <br>
            </p>
        </section>
    </main>

    <footer>
        <small>&copy; 2025 wchen.dev</small>
        <small><a href="https://github.com/OakTreeWC">Github</a></small>
        <small><a href="https://www.youtube.com/channel/UCnNzE1JkiUOLHnSLeJk2KXw">GoonTube</a></small>
        <small><a href="mailto:william@wchen.dev">Email Me</a></small>
    </footer>

    <script src="/main.js" defer></script>
</body>
</html>