<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WCHEN.DEV</title>
    <meta name="description" content="William Chen's Site">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>WCHEN.DEV</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/projects">My Projects</a>
        </nav>
    </header>

    <main>
        <section id="herro">
            <h2 id="hi" class="noto-sans-normal">Hi, I'm William Chen, and I like making (and breaking) things.</h2>
            <p></p>
        </section>
        <br>
        <section id="recent-project">
            
            <h2>Most Recent Project</h2>
            <div class="project-card">
                <div class="project-info">
                    <a href="/projects#12KEMPV2.1">12KEMP V2.1</a>
                    <p class="sf-indicator">
                        <span class="status-dot status-orange"></span>
                        <span class="status-text">WIP</span>
                    </p>
                    
                    
                </div>
                <div class="project-image" style="display: none">
                    <img src="/static/12kemp.png" alt="12KEMP V2.1 Photo">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <small>&copy; 2025 wchen.dev</small>
        <small><a href="https://github.com/OakTreeWC">Github</a></small>
        <small><a href="https://www.youtube.com/channel/UCnNzE1JkiUOLHnSLeJk2KXw">GoonTube</a></small>
        <small><a href="mailto:william@wchen.dev">Email Me</a></small>
    </footer>

    <script src="/main.js" defer></script>
</body>
</html>