<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WCHEN.DEV</title>
    <meta name="description" content="William Chen's Site">
    <link rel="stylesheet" href="/static/projects.css">
    <link rel="stylesheet" href="/static/index.css">
    <link rel="shortcut icon" href="/static/favicon.ico">

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>WCHEN.DEV</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About Me</a>
            <a href="/projects">My Projects</a>
        </nav>
    </header>

    <main>
        <section id="project-cards">
            <h2>Projects</h2>
            <div class="project-card" id="12KEMPV2.1">
                <div class="project-info">
                    <a href="/projects#12KEMPV2.1" class="project-info-link">12KEMP V2.1</a>
                    <p class="sf-indicator">
                        <span class="status-dot status-orange"></span>
                        <span class="status-text">Work in Progress</span>
                    </p>
                    
                    <p class="project-description">
                        The 12KEMP V2.1 is a simpler version of the 12KEMP V2.0, and uses a XIAO SEEED STUDIO RP2040 microcontroller instead of an Atmega32U4. It still has all of the new features of 12KEMP V2.0. <br><br>
                        This project is made as part of Hack Club's Blueprint Event, available <a href="https://blueprint.hackclub.com">here</a>. Hack Club is a nonprofit with the goal of getting today's teenagers into the world of hacking.
                    </p>
                </div>
                <div class="project-image">
                    <img src="/static/12kempV2.1.png" alt="12KEMP V2.1 Photo">
                </div>
            </div>
            <div class="project-card" id="12KEMPV2.0">
                <div class="project-info">
                    <a href="/projects#12KEMPV2.0" class="project-info-link">12KEMP V2.0</a>
                    <p class="sf-indicator">
                        <span class="status-dot status-red"></span>
                        <span class="status-text">Canceled</span>
                    </p>
                    
                    <p class="project-description">
                        The 12KEMP V2.0 is a completely revamped version of the original 12KEMP, with a new design, custom case, USB-C, a 0.91" OLED display, vial-qmk support, and addressable RGB LEDs. Instead of the Arduino Pro Micro, this uses a soldered on Atmega32U4, which allows for a more compact design and more IO pins. Due to some oversight, this version uses 0402 (1005 metric) smd components, instead of the larger 0603 (1608 metric) variant though, increasing difficulty. <br><br>
                        This project was canceled due to the complexity of getting the Atmega32U4 to work at all. I'm not qualified for this and may have gone a little over my head a bit.
                    </p>
                </div>
                <div class="project-image">
                    <img src="/static/12kempV2.0.png" alt="12KEMP V2.0 Photo">
                </div>
            </div>
            <div class="project-card" id="12KEMPV1.0">
                <div class="project-info">
                    <a href="/projects#12KEMPV1.0" class="project-info-link">12KEMP V1.0</a>
                    <p class="sf-indicator">
                        <span class="status-dot status-green"></span>
                        <span class="status-text">Completed</span>
                    </p>
                    
                    <p class="project-description">
                        The 12KEMP v1.0 is a custom 4x3 key macropad. It is fairly simple, and uses an arduino pro micro as the brains of the device. It has 12 mechanical keys, a clickable rotary encoder, vial-qmk support, and thats about it. This pcb was my first, and really just served to connect the pins to the microcontroller in a more elegant way than doing it manually. I never designed a dedicated case for it, as I deemed that as too much work at the time, and just made a small plate for it to be mounted on top of. 
                    </p>
                </div>
                <div class="project-image">
                    <img src="/static/12kempV2.0.png" alt="12KEMP V2.0 Photo">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <small>&copy; 2025 wchen.dev</small>
        <small><a href="https://github.com/OakTreeWC">Github</a></small>
        <small><a href="https://www.youtube.com/channel/UCnNzE1JkiUOLHnSLeJk2KXw">GoonTube</a></small>
        <small><a href="mailto:william@wchen.dev">Email Me</a></small>
    </footer>
</body>
</html>